Django==5.1
PyMySQL==1.1.1
pydo
requests
numpy
pandas
channels
channels_redis
requests
maxminddb
django-otp
django-two-factor-auth
qrcode
phonenumbers
qrcode[pil] 
pillow
pyotp
chardet
django-select2
python-jenkins
paramiko
uvicorn
uvicorn[standard]
websockets
wsproto
colorlog
PyNaCl
azure-identity 
azure-mgmt-storage 
azure-mgmt-resource 
azure-storage-blob
beautifulsoup4